.corpDoc-content {
  padding: 8px 16px;
}

.corpDoc-content h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.corpDoc-apply-content {
  background-color: #fff;
  width: 500px;
  padding: 50px 150px 40px 150px;
  border-radius: 12px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.corpDoc-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corpDoc-bold-label {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 30px;
}

.corpDoc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corpDoc-form-group {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corpDoc-form-group label {
  font-weight: 600;
  font-size: 14.5px;
  color: #222121;
  margin-bottom: 5px;
  margin-right: 10px;
  text-align: left;
  width: 81%;
}

.corpDoc-form-group input,
.corpDoc-form-group textarea {
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid #e4e1e1;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 14px;
}

.corpDoc-form-group select {
  width: 86%;
  padding: 10px;
  padding-left: 10px;
  border: 1px solid #e4e1e1;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 14px;
}

.corpDoc-form-group textarea {
  resize: vertical;
}

.corpDoc-apply-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 160px;
  border-radius: 5px;
  padding: 10px 0px 10px 150px;
  font-size: 16px;
}

.corpDoc-form-group-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 5px 0px;
}

.corpDoc-form-group-inline label {
  font-weight: 580;
  font-size: 14.5px;
  color: #222121;
  margin-bottom: 3px;
  text-align: left;
  flex: 1;
}

.corpDoc-form-group-inline input[type="checkbox"] {
  margin-left: 5px;
  margin-right: 10px;
  width: auto;
  transform: scale(1.2);
}

.corpDoc-form-group-inline input[type="text"] {
  width: 30px;
  padding: 8px;
  padding-left: 10px;
  border: 1px solid #e4e1e1;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 14px;
}

.corpDoc-form-group-inline-num label {
  font-size: 14.5px;
  margin: 5px 10px 3px 3px;
  text-align: left;
  flex: 1;
}

.corpDoc-form-group input:focus,
.corpDoc-form-group select:focus,
.corpDoc-form-group textarea:focus,
.corpDoc-form-group-inline-num input:focus {
  border-color: #9fc7f1;
  box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);
  outline: none;
}