.seal-export-list {
    padding: 8px 16px;
}

.seal-export-list h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

.seal-export-list img {
    width: 26px; 
    height: 26px; 
    object-fit: contain; 
    cursor: pointer; 
    margin-top: 1px;
}
