.history-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.history-modal-container {
  background: #fff;
  padding: 64px 56px 0px 56px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 960px;
  height: 64%;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.history-modal-container h3 {
  margin-bottom: 8px;
  font-size: 27px;
  font-weight: bold;
}

.history-modal-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 8px;
}

.history-modal-container .no-data-message {
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}
