.add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-modal-container {
  background: #fff;
  padding: 56px 44px 48px 44px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 480px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.edit-modal-header h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  margin-top: 24px;
}

.modal-header-modify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.modal-header-modify h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.add-modal-container p {
  font-size: 16px;
  margin-top: 8px;
}

.input-group {
  height: 36px;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.input-group select {
  padding: 10px;
  font-size: 14px;
  background-color: #f2f5f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.input-group input {
  width: 128px;
  padding: 10px;
  font-size: 14px;
  background-color: #f2f5f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.input-group select {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 12px center;
  padding-right: 35px; 
}

.input-group .query-button {
  padding: 10px;
  font-size: 14px;
  background-color: #BDC6CF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-group .query-button:hover {
  background-color: #a1a9b2;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.result-table th,
.result-table td {
  border: 1px solid #ddd;
  padding: 6.5px;
  text-align: center;
  font-size: 14px;
}

.result-table th {
  background-color: #f2f2f2;
}

.fixed-width {
  width: 96px;
}

.add-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 40px;
}

.add-modal-button {
  border-radius: 5px;
  padding: 10px 0px 10px 6.5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  min-width: 80px;
}

.add-modal-button span {
  letter-spacing: 0.4em;
}

.add-modal-button.confirm {
  background-color: #2789FE;
  color: white;
  border: none;
}

.add-modal-button.confirm:hover {
  background-color: #1e6fc1;
}

.authority-close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 8px;
}
