.apply-document-content {
  padding: 10px 20px;
}

.apply-document-content h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.apply-button-container {
  display: flex;
  justify-content: center;
  gap: 180px; 
  margin-top: 8%;
}
