.custom-button {
  border-radius: 7px;
  padding: 11px 15px; 
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: white;
  border: none;
}

.excel-button {
  background-color: #07AF5A;
}

.excel-button:hover {
  background-color: #068c4e;
}

.order-request-button {
  background-color: #2789FE;
}

.order-request-button:hover {
  background-color: #1e6fc1;
}

.authority-add-button {
  background-color: #2789FE;
}

.authority-add-button:hover {
  background-color: #1e6fc1;
}

.apply-request-button {
  background-color: #2789FE;
}

.apply-request-button:hover {
  background-color: #1e6fc1;
}

.apply-request-button span {
  letter-spacing: 0.4em;
}

.preview-button {
  padding: 5px 10px 5px 10px;
  height: 40px;
  background-color: #e2e5e9;
  font-size: 14px;
  margin-left: 85px;
  margin-top: 30px;
  color: rgb(126, 125, 125)
}

.preview-button:hover { 
  background-color: #d4d9df;
}

.approve-button {
  background-color: #2789FE;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 8px 12px 25px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.approve-button:hover {
  background-color: #1e6fc1;
}

.reject-button {
  background-color: #FF4C4C;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 8px 12px 25px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.reject-button:hover {
  background-color: #E84646;
}
