.email-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.email-modal-container {
  background: #fff;
  padding: 36px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 432px;
}

.email-modal-container h3 {
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.email-modal-container input {
  width: 95%;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 14.5px;
  background-color: #F1F4F7;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.email-modal-container textarea {
  width: 95%;
  height: 200px;
  padding: 10px;
  font-size: 14.5px;
  background-color: #F1F4F7;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 4px;
}

.email-modal-container textarea:focus {
  border: 3px solid #ccc; 
  outline: none;
}

.email-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.email-modal-button {
  border-radius: 5px;
  padding: 10px 13px 10px 19px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  min-width: 80px;
}

.email-modal-button span {
  letter-spacing: 0.4em;
}

.email-modal-button.confirm {
  background-color: #2789FE;
  color: white;
  border: none;
}

.email-modal-button.cancel {
  background-color: #BDC6CF;
  color: black;
  border: none;
}

.email-modal-button.confirm:hover {
  background-color: #1e6fc1;
}

.email-modal-button.cancel:hover {
  background-color: #a1a9b2;
}
