.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    user-select: none;
}
 
.home-section-link {
    text-decoration: none; 
    color: inherit; 
}
  
.home-section {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 450px;
    border-radius: 20px;
    margin: 0 40px;
    background-color: #F0F3F8;
    transition: background-color 0.2s ease, color 0.1s ease; 
    padding: 0; 
}
  
.home-section .title {
    flex: 3.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
    text-align: center;
    letter-spacing: 1px;
}

.home-section h2 {
    font-size: 28px;
    margin: 0; 
    line-height: 1.2;
    transition: color 0.3s ease; 
}
  
.home-section .content {
    flex: 6.5; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px; 
}
  
.home-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.home-section ul li {
    font-size: 18px;
    margin: 10px 0;
}
  
.home-section.apply, .home-section.asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.home-section:hover {
    background-color: #5B89F5;
    color: #fff;
}
  
.home-section:hover h2 {
    color: #fff; 
}
