/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .login-box {
    background: #fff;
    padding: 110px 100px 110px 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px; 
  }
  
  .login-logo {
    width: 280px; 
    height: 120px;
    margin-bottom: 30px;
  }
  
  .login-input {
    width: 350px; 
    padding: 15px; 
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px; 
  }
  
  .login-button {
    width: 385px; 
    padding: 14px; 
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    font-size: 18px; 
    font-weight: bold;
    margin-top: 15px; 
  }
  
  .login-button:hover {
    background-color: #002244;
  }
  