/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .login-box {
    background: #fff;
    padding: 72px 80px 88px 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; 
  }
  
  .login-logo {
    width: 224px; 
    height: 96px;
    margin-bottom: 24px;
  }
  
  .login-input {
    width: 280px; 
    padding: 12px; 
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 13px; 
  }
  
  .login-button {
    width: 308px; 
    padding: 12px; 
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    font-size: 14.5px; 
    font-weight: bold;
    margin-top: 12px; 
  }
  
  .login-button:hover {
    background-color: #002244;
  }
  