/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .login-box {
    background: #fff;
    padding: 82px 50px 120px 50px;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin-bottom: 70px;
  }
  
  .login-logo {
    width: 224px;
    height: 96px;
    margin-bottom: 28px;
  }
  
  .login-input {
    width: 280px; 
    padding: 12px; 
    margin: 6px 0px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 13px; 
    background-color: white;
  }

  .login-input:hover {
    border: 1px solid #a1c0e6;
  }

  .login-input:focus {
    border: 1px solid #a1c0e6;
    outline: none;
  }
  
  .login-button {
    width: 308px; 
    padding: 12px; 
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    font-size: 14.5px; 
    font-weight: bold;
    margin-top: 18px;
  }
  
  .login-button:hover {
    background-color: #002244;
  }
  