.user-applications {
  padding: 10px 20px;
}

.user-applications h2 {
  font-size: 35px;
  margin-bottom: 5px;
}

.pending-applications {
  padding: 20px;
}

.pending-applications h2 {
  font-size: 28px; 
  margin-bottom: 15px;
}

.divider {
  border-top: 2px solid #cfcfcf; 
  margin: 100px 25px 0;
}

.modify-button {
  border-radius: 10px;
  width: 70px;
  height: 35px;
  background-color: #BDC6CF;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.modify-button:hover {
  background-color: #BDC6CF;
}

.cancel-button {
  border-radius: 10px;
  width: 70px;
  height: 35px;
  background-color: #2789FE;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.cancel-button:hover {
  background-color: #1e6fc1;
}

.status-button {
  background: none;
  color: #2789FE;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-decoration: underline;
}

.status-button:hover {
  color: #1e6fc1;
}
