.pending-applications {
    padding: 8px 16px;
  }
  
  .pending-applications h2 {
    font-size: 28px;
    margin-bottom: 4px;
  }
  
  .modify-button {
    border-radius: 8px;
    width: 60px;
    height: 32px;
    background-color: #BDC6CF;
    color: black;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .modify-button:hover {
    background-color: #BDC6CF;
  }
  
  .cancel-button {
    border-radius: 8px;
    width: 60px;
    height: 32px;
    background-color: #2789FE;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .cancel-button:hover {
    background-color: #1e6fc1;
  }
  