.reject-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .reject-modal-container {
    background: #fff;
    padding: 40px 40px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
  }
  
  .reject-modal-container h3 {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .reject-modal-container p {
    font-size: 20px;
    margin-top: -3px;
    margin-bottom: 40px;
  }
  
  .reject-modal-container textarea {
    width: 425px;
    height: 200px;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #F1F4F7;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }

  .reject-modal-container textarea:focus {
    border: 3px solid #d99999; 
    outline: none;
  }
  
  .reject-modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
  }
  
  .reject-modal-button {
    border-radius: 5px;
    padding: 12px 17px 12px 23px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    min-width: 100px;
  }
  
  .reject-modal-button span {
    letter-spacing: 0.4em;
  }
  
  .reject-modal-button.confirm {
    background-color: #FF4C4C;
    color: white;
    border: none;
  }
  
  .reject-modal-button.cancel {
    background-color: #BDC6CF;
    color: black;
    border: none;
  }
  
  .reject-modal-button.confirm:hover {
    background-color: #E84646;
  }
  
  .reject-modal-button.cancel:hover {
    background-color: #a1a9b2;
  }
  