.standard-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.standard-modal-container {
    background: #fff;
    padding: 35px 80px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.standard-modal-container h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-title-separator {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 8px;
}

.add-standard-details {
    margin-bottom: 32px;
}

.add-standard-detail-row {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.add-standard-detail-row label {
    font-size: 14px;
    font-weight: bold;
    flex: 1;
    margin-bottom: 14px;
}

.add-standard-detail-row input {
    font-size: 16px;
    flex: 2;
    padding: 8.5px;
    margin-left: 10px;
    border: 1px solid #a7a5a5; 
    border-radius: 4px;
}

.add-standard-detail-row input:focus {
    border-color: #2789FE;
    box-shadow: 0 0 5px rgba(39, 137, 254, 0.5);
    outline: none;
}

.detail-separator {
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    border: none;
    border-top: 1px solid #ddd;
}

.standard-modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.standard-modal-button {
    border-radius: 5px;
    padding: 10px 13px 10px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    min-width: 80px;
}

.standard-modal-button span {
    letter-spacing: 0.4em;
}

.standard-modal-button.confirm {
    background-color: #2789FE;
    color: white;
    border: none;
}

.standard-modal-button.cancel {
    background-color: #BDC6CF;
    color: black;
    border: none;
}

.standard-modal-button.confirm:hover {
    background-color: #1e6fc1;
}

.standard-modal-button.cancel:hover {
    background-color: #a1a9b2;
}
