.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 6px;
    margin-top: 16px;
    margin-left: 4px;
    margin-bottom: 10px;
    color: #888;
  }

  .breadcrumb .nav-icon {
    height: 14px;
    width: 14px;
  }
  
  .breadcrumb .before {
    margin-top: 2px;
    font-weight: bold;
    color: #888;
  }
  
  .breadcrumb .current {
    margin-top: 2px;
    font-weight: bold;
    color: #5B89F5;
  }
  
  .breadcrumb .nav-item {
    margin-left: 0px;
    margin-right: 4px;
    font-size: 12px;
  }
  
  .breadcrumb .nav-separator {
    margin-left: 4px;
    margin-right: 4px;
  }
  