.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #888;
  }
  
  .breadcrumb .before {
    margin-top: 2px;
    font-weight: bold;
    color: #888;
  }
  
  .breadcrumb .current {
    margin-top: 2px;
    font-weight: bold;
    color: #2789FE;
  }
  
  .breadcrumb .nav-item {
    margin-left: 0px;
    margin-right: 5px;
  }
  
  .breadcrumb .nav-separator {
    margin-left: 5px;
    margin-right: 5px;
  }
  