.button {
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
  }
  
  .modify-button {
    width: 56px;
    height: 28px;
    background-color: #BDC6CF;
    color: black;
    border: none;
  }
  
  .modify-button:hover {
    background-color: #BDC6CF;
  }
  
  .cancel-button {
    width: 56px;
    height: 28px;
    background-color: #2789FE;
    color: white;
    border: none;
  }
  
  .cancel-button:hover {
    background-color: #2789FE;
  }
  
  .delete-button {
    background: transparent;
    border: none;
    color: black;
    font-size: 11px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #2789FE;
    color: white;
  }
  