.button {
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .modify-button {
    background-color: #BDC6CF;
    color: black;
    border: none;
  }
  
  .modify-button:hover {
    background-color: #BDC6CF;
  }
  
  .cancel-button {
    background-color: #5B89F5;
    color: white;
    border: none;
  }
  
  .cancel-button:hover {
    background-color: #5B89F5;
  }
  
  .delete-button {
    background: transparent;
    border: none;
    color: black;
    font-size: 10px;
  }
  
  .delete-button:hover {
    background-color: #5B89F5;
    color: white;
  }
  