.custom-button {
  border-radius: 7px;
  padding: 9px 11px; 
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: white;
  border: none;
}

.excel-button {
  background-color: #07AF5A;
}

.excel-button:hover {
  background-color: #068c4e;
}

.toner-button {
  color: rgb(70, 70, 70);
  background-color: #bdc6cf;
}

.toner-button:hover {
  background-color: #a1a9b2;
}

.finish-excel-button {
  background-color: #d7dde4;
  color: rgb(85, 84, 84)
}

.finish-excel-button:hover {
  background-color: #07AF5A;
  color: white
}

.order-request-button {
  background-color: #2789FE;
}

.order-request-button:hover {
  background-color: #1e6fc1;
}

.authority-add-button {
  background-color: #2789FE;
  margin-top: 5px;
}

.docstorage-approve-button {
  background-color: #2789FE;
  margin-top: 50px;
  letter-spacing: 5px;
  padding: 10px 10px 10px 15px;
}

.authority-add-button:hover {
  background-color: #1e6fc1;
  transition-duration: 200ms;

}

.apply-request-button {
  background-color: #2789FE;
}

.apply-request-button:hover {
  background-color: #1e6fc1;
  transition-duration: 200ms;
}

.apply-cancel-button {
  color: rgb(126, 125, 125);
  background-color: #e2e5e9;
}

.apply-cancel-button:hover {
  background-color: #d1d4d8;
  transition-duration: 200ms;
}

.apply-request-button span {
  letter-spacing: 0.4em;
}

.apply-preview-button {
  margin-right: -30px;
  background-color: #e2e5e9;
  color: rgb(126, 125, 125)
}

.apply-preview-button:hover {
  background-color: #d1d4d8;
  transition-duration: 200ms;

}

.preview-button {
  padding: 4px 8px 4px 8px;
  height: 32px;
  background-color: #e2e5e9;
  font-size: 11px;
  margin-left: 94px;
  margin-top: 23px;
  color: rgb(126, 125, 125)
}

.preview-button:hover { 
  background-color: #d1d4d8;
  transition-duration: 200ms;

}

.approve-button {
  background-color: #2789FE;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 6px 10px 20px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.approve-button:hover {
  background-color: #1e6fc1;
  transition-duration: 200ms;

}

.reject-button {
  background-color: #FF4C4C;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 6px 10px 20px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.reject-button:hover {
  background-color: #E84646;
  transition-duration: 200ms;

}

.chart-cancel-button {
  background-color: #ECEEF4;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 6px 10px 20px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.chart-cancel-button:hover {
  background-color: rgb(222, 226, 231);
}

.store-button {
  border-radius: 7px;
  padding: 9px 11px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  background-color: #e2e5e9;
  color: rgb(126, 125, 125);
}

.save-button, .add-button, .data-reset-button {
  background-color: #2789FE;
  margin-top: 20px;
  letter-spacing: 5px;
  padding: 11px 19px 11px 22px; 
  font-size: 12.5px;
}

.add-button {
  background-color: #07AF5A;
}

.data-reset-button {
  background-color: #BDC6CF;
  color: rgb(95, 95, 95);
}

.white-button {
  color: #394A5B;
  background-color: white;
  border: 1px solid #DADDE1;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.2;
  min-width: 60px;
  min-height: 30px;
}

.white-button:hover {
  border-color: #9BA5B1;
  transition-duration: 200ms;

}