.header {
  background-color: white;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
}

.header-content {
  display: flex;
  align-items: center;
  user-select: none;
}

.user-info {
  font-size: 13.5px;
  display: flex;
  align-items: center;
  padding: 6px;
}

.header-content .user-info span {
  margin-right: 4px;
}

/* 로그인 */
.user-info a {
  color: black;
  text-decoration: none;
  margin-left: 4px;
}

/* 로그아웃 */
.logout-button {
  font-size: 13.5px;
  margin-left: -2.5px;
  color: #5B89F5;
  text-decoration: none;
  border: none;
  background-color: white;
}

.logout-button:hover {
  font-weight: bold;
}

/* 권한 이미지 */
.role-image {
  width: 20px;
  height: 20px;
  margin-left: 3px;
  vertical-align: middle;
}

.notification-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  user-select: none;
}

.notification-wrapper {
  position: relative;
}

.unread-badge {
  position: absolute;
  top: -2px;
  right: 3px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}