.modal-backdrop {
  position: absolute;
  z-index: 1000;
  background-color: transparent;
}

.modal-content-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 15px 40px;
  align-items: center;
  height: 50px;
}

.modal-content-header h3 {
  letter-spacing: 1px;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 550px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-content-detail {
  max-height: 450px;
  overflow-y: auto;
}

.close-modal {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modal-content ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

.modal-content li {
  padding: 18px 20px 18px 40px;
}

.notification-content, .notification-date {
  display: block;
  font-size: 14px;
}

.notification-date {
  font-size: 12px;
  color: grey;
}

.notification-item {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #f1eeee;
  border-bottom: 1px solid #f1eeee;
  user-select: none;
}

.notification-item.unclicked {
  background-color: #f2f6fab0;
  user-select: none;
}
