.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 16px 40px 16px 70px;
  overflow-y: auto;
  user-select: none;
}

.section-separator {
  margin-top: 32px;
  border-top: 1px solid #ddd;
  margin-bottom: 16px;
}
