.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px 50px;
  overflow-y: auto;
}

.section-separator {
  margin-top: 40px;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}
