  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    bottom: 50px;
    left: 50%; 
    transform: translateX(-10%); 
    position: fixed;
    z-index: 1000; 
  }
  
  .pagination li {
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
  }
  
  .pagination li a {
    color: #666;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination li a:hover {
    background-color: #f0f0f0;
  }
  
  .pagination .active a {
    background-color: #2789FE;
    color: white;
    font-weight: bold;
  }
  
  .pagination .disabled a {
    color: #ccc;
    pointer-events: none;
  }
  
  .pagination .break a {
    cursor: default;
    color: #666;
    background: transparent;
    padding: 8px 12px;
    border-radius: 50%;
  }
  
  .pagination li:not(.active) a:hover {
    background-color: #d3d3d3;
  }
  