.sidebar {
  width: 300px;
  background-color: #EDF1F5;
  color: black;
  padding: 20px;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로고 */
.logo {
  width: 210px;
  height: 90px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidebar-section {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 90px;
}

.sidebar-section h1 {
  margin-bottom: 10px;
  cursor: pointer;
}

/* 나의신청내역 & 권한관리 */
.sidebar-section h2 {
  font-size: 24px;
  margin-bottom: 40px;
  margin-left: 25px;
  cursor: pointer;
}

.sidebar-section h2 a {
  color: inherit; 
  text-decoration: none; 
}

/* 마우스 호버 시 파란색 */
.sidebar-section h2 a:hover {
  color: #2789FE;
  font-weight: bold;
}

.sidebar-section ul {
  list-style: none;
  padding: 0;
}

/* section 내의 메뉴들 */
.sidebar-section li {
  font-size: 20px;
  margin-bottom: 13px;
  margin-left: 25px;
  cursor: pointer;
}

.sidebar-section a {
  color: inherit; 
  text-decoration: none; 
}

/* 마우스 호버 시 색변환 */
.sidebar-section li:hover {
  color: #2789FE;
  font-weight: bold;
}

.sidebar-section {
  width: 100%;
  margin-bottom: 0px;
}

/* 신청하기 & 신청목록관리 */
.sidebar-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-section h3:hover {
  color: #2789FE;
  font-weight: bold;
}

.toggle-icon {
  margin-right: 5px;
  margin-bottom: 6px;
}

/* active 클래스 추가 */
.sidebar-section .active {
  color: #2789FE;
  font-weight: bold;
}
