.sidebar {
  width: 240px;
  background-color: #EDF1F5;
  color: black;
  padding: 20px;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; 
}

.logo {
  width: 168px;
  height: 72px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sidebar-section {
  width: 100%;
  margin-left: 72px;
}

.sidebar-section h2 {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.sidebar-section h2 a {
  color: inherit; 
  text-decoration: none; 
}

.sidebar-section h2 a:hover {
  color: #2789FE;
  font-weight: bold;
}

.sidebar-section ul {
  list-style: none;
  padding: 0;
}

.sidebar-section li {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.sidebar-section a {
  color: inherit; 
  text-decoration: none; 
  margin-left: 3px;
}

.sidebar-section li:hover {
  color: #2789FE;
  font-weight: bold;
}

.sidebar-section {
  width: 100%;
  margin-bottom: 0px;
}

.sidebar-section h3 {
  font-size: 20px;
  margin-bottom: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-section h3:hover {
  color: #2789FE;
  font-weight: bold;
}

.toggle-icon {
  margin-right: 7px;
  margin-bottom: 5px;
}

.sidebar-section .active {
  color: #2789FE;
  font-weight: bold;
}

.sidebar-section .active-toggle {
  color: #2789FE;
  font-weight: bold;
}
