.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
  font-size: 11px;
  border-left: none;
  border-right: none; 
}

.custom-table th, .custom-table td {
  border: none;
  padding: 11px 8px;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: center;
}

.custom-table th {
  background-color: #f1f1f3;
  text-align: center; 
  border-top: 1px solid #F2F8FF;
  border-bottom: 1px solid #F2F8FF;
}

.custom-table td {
  border-bottom: 0.1px solid #f1f1f3;
  padding: 10px 8px;
}

.button-cell {
  padding: 4px; 
}

.email-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.email-text {
  text-align: center;
  flex-grow: 1;
}

.delete-button {
  background-color: white;
  color: black;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 11px;
  border-radius: 5px;
  position: absolute;
  right: 0;
}

.delete-button:hover {
  background-color: #E84646;
  color: white;
}

.modify-button, .cancel-button {
  background-color: #BDC6CF;
  color: black;
  border: none;
  padding: 7px 13px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin: 0 4px;
}

.cancel-button {
  background-color: #5B89F5;
  color: white;
}

.modify-button:hover {
  background-color: #A9A9A9;
}

.cancel-button:hover {
  background-color: #426dd1;
}

.custom-table tr.cancelled {
  text-decoration: line-through;
  color: #888;
}

.disabled {
  pointer-events: none;
}

.icon-cell.disabled img {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: not-allowed;
}
