.user-applications {
  padding: 8px 16px;
}

.user-applications h2 {
  font-size: 26px;
  margin-bottom: 4px;
}

.status-button {
  background: none;
  color: #5B89F5;
  border: none;
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
}

.status-button:hover {
  color: #426dd1;
}
