/* AuthorityManagement.css */
.admin-list {
  padding: 8px 16px;
}

.admin-list h2 {
  font-size: 26px;
  margin-bottom: 16px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 6px;
}

.authority-add-button {
  background-color: #2789FE;
  color: white;
}

.authority-add-button:hover {
  background-color: #1e6fc1;
}

.email-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email-text {
  margin-right: 10px;
}

.icon-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-icon {
  cursor: pointer;
  width: 20px;
  height: 23px;
}

.action-icon:hover {
  opacity: 0.6;
}

/* Pagination Container Styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 40px 0;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
  font-size: 13px;
}

.pagination li a {
  color: #666;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination .active a {
  background-color: #2789FE;
  color: white;
  font-weight: bold;
}

.pagination .disabled a {
  color: #ccc;
  pointer-events: none;
}

.pagination .break a {
  cursor: default;
  color: #666;
  background: transparent;
  padding: 8px 12px;
  border-radius: 50%;
}

.pagination li:not(.active) a:hover {
  background-color: #d3d3d3;
}

