
.toner-apply-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 3px 0px;
}

.toner-apply-header-label,
.toner-apply-info {
  font-size: 15px;
  font-weight: bold;
  margin-right: 14px;
}

.toner-apply-content select,
.toner-apply-content input {
  width: 80%; /* Adjust this to change the width */
  padding: 5px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.toner-apply-content select:focus,
.toner-apply-content input:focus,
.toner-apply-content select:hover,
.toner-apply-content input:hover{
  border: 1px solid #b2d0f5;
  outline: none;
}

.toner-apply-content input {
  text-align: center;
}

.add-toner-button {
  color: black;
    background-color: #bdc6cf;
}

.add-toner-button:hover {
  background-color: #a1a9b2;
}

.toner-cancel-button {
  border: none;
  font-size: 20px;
  background: none; /* Remove background */
  cursor: pointer;
  color: #888;; /* Default color */
  transition: color 0.3s ease; /* Smooth color transition */
}

.toner-cancel-button:hover {
  color: #2789FE;; /* Color on hover */
}

.toner-buttons-container {
  display: flex;
  gap: 6px;
  align-items: center;
}
