#root {
  overflow: hidden;
  height: 100vh;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  transform: scale(0.8); /* 80% scale */
  transform-origin: top left;
  width: 125%; /* (100 / 80) * 100 */
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden; 
}

.header {
  flex: 0 0 50px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto; 
}

.content {
  flex: 1;
  padding: 20px 50px;
  overflow-y: auto;
}

.section-separator {
  margin-top: 40px;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}
